body{
   
 background-color: rgb(231, 99, 23);
    
}
.headerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: rgb(71, 83, 255);
    font-weight: bold;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: rgb(238, 216, 144);
    font-weight: bold;
    padding: 30px;
}
.imagewonder{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 20%;
    margin-left:37%;
}

